@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

html {
    font-size: 10px;
}

body{
    font-family: 'Inter', sans-serif;
}


/* esconde/mostra elementos */
.show-desktop{
    display: none;
}
.show-mobile{
    display: block;
}


/* conf. gerais de fonte */
p, span{
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: 600;
}

h2{
    font-weight: 600;
    font-size: 2em;
    line-height: 24px;
}


.font-14{
    font-weight: 600;
    font-size: 1.4em;
    line-height: 20px;
}

.font-24{
    font-weight: 600;
    font-size: 2.4em;
    line-height: 32px;
}

.text-green{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #40B25C;
    margin: 5px 0;
}

/* botões */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.font-btn-12{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.font-btn-14{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.font-btn-16{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}






/* ============= HEADER ==================*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 2em;
    margin-top: 1em;
}

div.container-form{
    display: flex;
    max-width: 902px;
    height: 48px;
    width: 100%;
    padding: 0 2em;   
    border: none;
    border-radius: 4px;
}

.form{
    width: 100%;
    display: flex; 
    align-items: center;
}

input[type="search"]{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
}

.btn-search{
    background: none;
    border: none;
    cursor: pointer;
}

div.form ::placeholder{
    opacity: 0;
}


/* qtde de produtos no carrinho */
#cart-quantity{
    position: relative;
    left: 14px;
    top: 12px;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    background-color: #E36305;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    position: relative;
    top: -10px;
}


/* ===== NAVBAR =====*/

nav.navbar {
    background-color: #030303;
    overflow: auto;
    white-space: nowrap;
    height: 48px;

  }
  
nav.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 14px 11px;
  text-decoration: none;
}

.navbar ul{
    display: flex;
}



/* ======== MAIN ========*/

.page-localization{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.1em solid #E9E9E9;
    padding: 0 2em;
}


/* seção do produto escolhido */
.container-product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2em; 
}

.title-description p{
    font-weight: 600;
    font-size: 12px;
    color: #40B25C;
    margin-top: 16px;
}

.title-description span{
    font-weight: 500;
    font-size: 12px;
    color: #40464D;
}
.title-description h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 8px 0 16px 0;
}

.title-description-mobile{
    display: block;
}


.container-img-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-img-product p{
  font-weight: 500;
  font-size: 14px;
  color: #40464D;
  margin-top: 16px;
}

.img-large{
    display: none;
    margin-top: 24px;
}


/* containers left e right*/

.container-produt-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* colors - inputs radio button  */
.colors{
    margin: 0.5em 0 1.6em 0;
}

#space-gray{
   appearance: none;
   width: 40px;
   height: 40px;
   cursor: pointer;
   background-image: url("../assets/img/color1.svg");
}

#rose-gold{
    appearance: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("../assets/img/color2.svg");
}

#silver{
    appearance: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("../assets/img/color3.svg");
}



/* tamanho da tela */
  div.container-screen-size{
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

.container-screen-size div{
  margin: 0 12px 0 0;
  list-style: none;
  width: 70px;
  height: 48px;
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
  line-height: 48px;
  border: 1px solid #CFD1D2;
  border-radius: 4px;
}

/* envio */
.container-shipping{
  padding: 2em;
  display: flex;
  align-items: center;
  gap: 3em;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  margin-top: 52px;
}



/* container da direita */
.container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    margin-top: 1.5em;
  }

div.container-right{
    padding: 2em;
}

.product-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.4em 0;
    width: 280px;
    align-self: center;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 12px;
    width: 128px;
    height: 48px;
    border: 1px solid #9FA3A6;
    border-radius: 4px;
    font-size: 13px
}

#btn-minus,
#btn-plus{
    background: none;
    border: none;
    cursor: pointer;
}

.product-price{
    width: 280px;
    align-self: center;
}

.product-price div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-old{
    color: #9FA3A6;
    text-decoration: line-through;
}

.container-right .btn-cart{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 16px 24px;
    width: 280px;
    height: 56px;
    margin: 5px;
    border-radius: 4px;
    border: none; 
    cursor: pointer;
    
}

.btn-green{
    background-color: #40B25C;
}

.btn-orange{
    background-color: #E36305;
}

.container-right .btn-orange{
    gap: 15px;
}

.text-shipped{
    text-align: center;
    margin: 1.2em 0 0;
}

/* divisão da pagina */
.division-line{
    display: none;
    margin: auto;
    height: 1px;
    width: 1376px;
    background: #E9E9E9;
}




/* ============ CAROUSEL ===========*/

.container-carousel{
    padding: 0 20px;
}

.carousel-item{
    margin: 8px;
    
}

.carousel-item h2{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.container-price{
    position: relative;
    top: 23px;
}
.font-price{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.container-price-discount{
    position: relative;
    top: 5px;
}

.container-carousel h2{
    font-weight: 600;
    font-size: 18px;
    margin: 12px 0 10px;
}


.corousel-img{
    margin: auto;
    max-width: 183px;
    width: 100%;
}

.product-discount{
    position: relative;
    top: 0;
}

.tags{
    display: none;
    position: relative;
    top: 32px;
    left: 4px;
    z-index: 100;
}

.btn-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    margin-top: 1em;
    cursor: pointer;
    gap: 11px;
}

.left_arrow{
    position: absolute;
    top: 35%;
    z-index: 98;
    cursor: pointer;

}

.right_arrow{
    position: absolute;
    top: 35%;
    right: -6px;
    z-index: 99;
    cursor: pointer;
}

.left_arrow:hover,
.right_arrow:hover{
    background-color: rgb(226, 240, 232);
    border-radius: 50%;
}



/* ====== FULL-DESCRIPION ======= */

.full-description{
    padding: 0 2em;
    margin: 32px 0 48px;
}

.banner-mobile{
    display: block;
}

.banner-desktop{
    display: none;
}

.full-description-img{
    margin: 3em 0;
    width: 100%;
}

.full-description-img img{
    width: 100%;
}

.full-description-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.full-description-text{
    max-width: 1028px;
}
.full-description-text p,
.full-description-text ul{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color:  #101820b0;
}

.full-description-text p:nth-of-type(1){
    color: black;
}

.full-description ul{
    padding: 1em;
}

.full-description a{
    text-decoration: none;
}




/* ========== SUBSCRIBE NEWS =======*/

.container-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #40B25C;
    padding: 2em;
}

.container-news h2{
    width: 166px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 22px 0px;
    text-align: center;
}

.btn-submit{
    width: 296px;
    height: 48px;
    border-radius: 4px;
    padding: 12px 24px;
    margin: 1em 0 5px;
}

.container-form-news{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    max-width: 561px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
}

.container-form-news img{
    margin: 0 15px;
}

input[type="email"]{
    width: 100%;
    height: 40px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #9FA3A6;
    outline: none;
}



/* ======== FOOTER =======*/

footer{
    background-color: #030303;
    max-height: 792px;
}

footer p{
    max-width: 1028px;
    color: #9FA3A6;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

 footer h2{
      color: #FFFFFF;
      font-size: 14px;
  }
  
 footer h3{
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}

footer a{
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    text-align: center;
}

.footer-one,
.footer-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 1.6em 0;
}

/* footer one */
.sitemap-container{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin: 2em;
}

.sitemap-container div{
    width: 100%;
}

.sitemap-link li{
    margin: 1.2em 0;
}

.sitemap-link a{
    color: #9FA3A6;
 }

 .sitemap-screen-large{
    display: none;
}

.sitemap-screen-large h2{
    visibility: hidden;
}

.footer-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;
}

.footer-btn button img{
    margin-right: 7px;
}

.footer-btn a{
    margin-top: 15px;
}

.footer-btn a span{
    font-weight: 500;
    font-size: 14px;
}

.footer-btn button{
    padding: 12px 20px;
    margin: 8px 0px;
}


.division{
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    opacity: 0.16;
}


/* footer two */
.payments-midias-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 2.5em;
}

.footer-payments{
    display: flex;
    gap:10px;
}

.footer-midias{
    display: flex;
    gap:25px;
}

.footer-logos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3em 0 3em;
}





  /* =================== MEDIA QUERIES =================== */

  @media screen and (min-width: 620px){

    .show-desktop{
        display: block;
    }
    .show-mobile{
        display: none;
    }
    .header{
        height: 72px; 
        gap: 0 2em;
        margin-top: 0;
    }
    .header-icons{
        display: flex;
        max-width: 290px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    div.container-form{ 
        border: 1px solid #9FA3A6;
    }

    div.form ::placeholder{
        opacity: 1;
        font-weight: 500;
        font-size: 16px;
        color: #40464D;
    }

    div.signin,
    div.whishlist {
        display: flex;
        align-items: center;
        gap: 0 1em;
    }

    .signin span,
    .whishlist span{
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
    }

    .title-span span:nth-child(2){
        text-transform: uppercase;
        color: #40B25C;
    }
  
    .container-produt-detail{
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: row;
        gap: 1em;
    }

    .banner-mobile{
        display: none;
    }
    
    .banner-desktop{
        display: block;
    }

    .carousel-item h2{
        font-size: 14px;
        margin: 8px 0px;
        line-height: 20px;
    }

    .container-email-button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 1em;
        width: 80%;
    }

    .container-news h2{
        width: 100%;
        text-align: center;
    }

    .btn-submit{
       width: 119px;
       margin: 0;
    }

    .footer-one{
        flex-direction: row;
        align-items: center;
    }

    .footer-btn{
       max-width: 332px;
    }

    .payments-midias-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .footer-logos{
        justify-content: center;
        gap: 0 3em;
    }
  }



  @media screen and (min-width: 900px){

    .header,
    .page-localization,
    .container-product,
    .full-description,
    .footer-two{
        padding: 0 32px;
    }

    .img-small{
        display: none;
    }
    .img-large{
        display: block;
    }

    .container-news{
        flex-direction: row;
        justify-content: center;
        gap: 0 5em;
    }

    .container-email-button{
        max-width: 700px;
    }

    .container-news h2{
        font-size: 32px;
        width: auto;
        text-align: center;
    }
    .sitemap-screen-large{
        display: block;
    }
 }


  @media screen and (min-width: 1024px){

    .navbar ul{
        gap: 0 10px;
        font-size: 14px;
        font-weight: 500;
    }
 
    nav.navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title-description-mobile{
        display: none;
    }
  
    .product-detail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container-description-product{
        flex-direction: column;
        margin-top: 2em;
        
    }
    .title-description{
        text-align: left;
    }

    .title-span{
        display: flex;
        justify-content: space-between;
        margin-top: 1.5em;
    }

    .img-small{
        display: block;
    }
    .img-large{
        display: none;
    }

    .footer-one{
        height: 326px;
        flex-direction: row;
    }

    .footer-two{
        height: 307px;
        padding-top: 64px;
    }

    .footer-logos{
        margin-bottom: 50px;
    }
  }



  @media screen and (min-width: 1200px){
    .img-small{
        display: none;
    }
    .img-large{
        display: block;
    }

     .title-description{
        width: 100%;
        /* position: relative; */
        margin-right: 0;
    }

    .title-description p{
       margin-top: 0;
    }

    .title-description h2{
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }

    .product-quantity{
        margin: 24px 0 16px 0;
    }

    .text-shipped{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #40464D;
    }

    .container-shipping div :nth-child(2){
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #40464D;
        margin: 4px 0;
    }

    .container-carousel{
        padding: 0 32px;
        margin-top: 64px;
    }

    .carousel-item{
        padding: 0 15px;
        margin: 8px;
    }
    
    .container-carousel h2,
    .container-carousel h2{
        font-size: 20px;
    }

    .carousel-item h2{
        font-size: 14px;
    }
    
    .first-carousel{
        margin: 32px 0;
    }

    .sitemap-container{
        width: 60%;
    }

    .footer-btn{
       margin: auto;
    }

    .payments-midias-container{
        justify-content: space-between;
    }

    .footer-payments{
        width: 60%;
    }

    .footer-midias{
        margin: auto;
    }
  }


@media screen and (min-width: 1400px){

    .container-description-product{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .container-produt-detail{
        width: 100%;
        justify-content: center;
        gap: 0 32px;
    }

    .container-product{
        height: 560px;
    }
  
    .container-left{
        width: 333px;
        height: 352px;
    }

    .container-right {
        width: 315px;
        height: 352px;
        margin: 0;
    }

    .container-colors{
        margin-top: 14px;
    }
 
    .container-size{
        margin-top: 24px;
    }

    .selected{
        background-color: #E9E9E9;
        border: none;
        color: #9FA3A6;
    }

    .container-colors span,
    .container-size span{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
    }

    .container-shipping{
        height: 112px;
    }

    .division-line{
        display: block;
    }

    .carousel-item{
        height: 360px;
    }

    .tags{
        display: block;
    }

    .product-discount{
        position: relative;
        top: -30px
    }


    .container-price{
        position: relative;
        top: 50px;
    }

    /* p/ prod com desconto */
    .container-price-discount{
        position: relative;
        top: 0px;
    }

    /* valor parcelado */
    .parcela{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #40464D;
    }

    .carousel-item h2{
        position: relative;
        top: 15px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }

    h2.h2-discount{
        position: relative;
        top: -15px;
        z-index: 120;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }
    .font-price{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
}